<h1>Welcome</h1>
<h5>Welcome to StoryBooks</h5>
<p>Post stories from the best and the worst of your life and choose them to be read by the rest of the world or to be
    completely private as your own personal dairy.</p>
    
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>LOGIN WITH GOOGLE</a>
{{/if}}